
<%- include('layouts/header') %>

<section>
    <div class="container py-5">
        <h1>Home page content</h1>

        <div class="pt-3">
            <table class="table">
                <thead class="table-dark text-center">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <img src="" alt="">
                        </td>
                        <td>Otto</td>
                        <td>otto@gmail.com</td>
                        <td>07063964065</td>
                        <td>
                            <a href="http://" class="text-success">
                                <i class="fa-lg mx-1 fa fas-solid fa-edit"></i>
                            </a>

                            <a href="http://" class="text-danger">
                                <i class="fa-lg mx-1 fa fas-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<%- include('layouts/footer') %>